<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<div th:switch="${users}">
  <div th:case="*">
    <h2>Users</h2>
    <table>
      <thead>
      <tr>
        <th>| id |</th>
        <th>| userName |</th>
        <th>| sex |</th>
        <th>| balance |</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.sex}"></td>
        <td th:text="${user.balance}"></td>

        <td><a th:href="@{user-update/{id}(id=${user.id})}">| Edit |</a></td>
        <td><a th:href="@{user-delete/{id}(id=${user.id})}">| Delete |</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/user-create">| Create |</a></p>
</div>

<div th:switch="${quests}">
  <div th:case="*">
    <h2>Quests</h2>
    <table>
      <thead>
      <tr>
        <th>| id |</th>
        <th>| questText   | </th>
        <th>| questTitle  |</th>
        <th>| personId |  </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="quest : ${quests}">
        <td th:text="${quest.questId}"></td>
        <td th:text="${quest.questText}"></td>
        <td th:text="${quest.questTitle}"></td>
        <td th:text="${quest.personId}"></td>

        <td><a th:href="@{quest-update/{id}(id=${quest.id})}">| Edit |</a></td>
        <td><a th:href="@{quest-delete/{id}(id=${quest.id})}">| Delete |</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/quest-create">Create</a></p>
</div>


</body>
</html>